[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
huggingface-hub = "*"
llama-cpp-python = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python main.py"
